1. Instalação das bibliotecas necessárias

In [13]:
%pip install requests
%pip install pandas 
%pip install winotify

Requirement already satisfied: requests in c:\users\thaai\appdata\local\programs\python\python312\lib\site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\thaai\appdata\local\programs\python\python312\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\thaai\appdata\local\programs\python\python312\lib\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\thaai\appdata\local\programs\python\python312\lib\site-packages (from requests) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\thaai\appdata\local\programs\python\python312\lib\site-packages (from requests) (2024.6.2)

[notice] A new release of pip is available: 24.0 -> 24.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\users\thaai\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\thaai\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\thaai\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\thaai\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\thaai\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\thaai\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 24.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: winotify in c:\users\thaai\appdata\local\programs\python\python312\lib\site-packages (1.1.0)

[notice] A new release of pip is available: 24.0 -> 24.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

2. Importação das bibliotecas

In [3]:
import pandas as pd
import requests
from winotify import Notification
import json

3. Extração das tabelas

In [27]:
url1 = 'https://brasilapi.com.br/api/banks/v1'  ##banks
url2 = 'https://brasilapi.com.br/api/feriados/v1/2024' ##feriados 2024
url3 = 'https://brasilapi.com.br/api/cvm/corretoras/v1' ## corretora

tipos_banco = requests.get(url1)
tipos_feriados = requests.get(url2)
tipos_corretora = requests.get(url3)

4. Criação de notificação de erro

4.1. Para a tabela de bancos

In [28]:
titulo_erro1 = tipos_banco.status_code
notificacao1 = Notification(app_id='Codigo Python CEP', title= titulo_erro1, msg='Não foi encontrado sua API', duration='long')

if tipos_banco.status_code == 200:
    data1 = tipos_banco.json()
    
else:
   notificacao1.show()

4.2. Para tabela de feriados

In [29]:
titulo_erro2 = tipos_feriados.status_code
notificacao2 = Notification(app_id='Codigo Python FERIADO', title= titulo_erro2, msg='Não foi encontrado sua API', duration='long')

if tipos_feriados.status_code == 200:
    data2 = tipos_feriados.json()
    
else:
   notificacao2.show()

4.3. Para tabela de corretora

In [30]:
titulo_erro3 = tipos_corretora.status_code
notificacao3 = Notification(app_id='Codigo Python CORRETORA', title= titulo_erro3, msg='Não foi encontrado sua API', duration='long')

if tipos_corretora.status_code == 200:
    data3 = tipos_corretora.json()
    
else:
   notificacao3.show()

5. Visualização das tabelas

5.1. Tabela de Bancos

In [31]:
bancos_full = pd.DataFrame(data1)
bancos_full.head()

,ispb,name,code,fullName
0,00000000,BCO DO BRASIL S.A.,1.0,Banco do Brasil S.A.
1,00000208,BRB - BCO DE BRASILIA S.A.,70.0,BRB - BANCO DE BRASILIA S.A.
2,00038121,Selic,NaN,Banco Central do Brasil - Selic
3,00038166,Bacen,NaN,Banco Central do Brasil
4,00122327,SANTINVEST S.A. - CFI,539.0,"SANTINVEST S.A. - CREDITO, FINANCIAMENTO E INV..."

5.2. Tabela de Feriados

In [32]:
feriados_full = pd.DataFrame(data2)
feriados_full.head()

         date                      name      type
0  2024-01-01  Confraternização mundial  national
1  2024-02-13                  Carnaval  national
2  2024-03-29         Sexta-feira Santa  national
3  2024-03-31                    Páscoa  national
4  2024-04-21                Tiradentes  national

5.3. Tabela de Corretora

In [14]:
corretora_full = pd.DataFrame(data3)
corretora_full.head()

,cnpj,type,nome_social,nome_comercial,status,email,telefone,cep,pais,uf,municipio,bairro,complemento,logradouro,data_patrimonio_liquido,valor_patrimonio_liquido,codigo_cvm,data_inicio_situacao,data_registro
0,76621457000185,CORRETORAS,4UM DTVM S.A.,4UM INVESTIMENTOS,CANCELADA,controle@4um.com.br,33519966,80420210,BRASIL,PR,CURITIBA,CENTRO,4º ANDAR,R. VISCONDE DO RIO BRANCO 1488,2005-12-31,4228660.18,2275,2006-10-05,1968-01-15
1,33817677000176,CORRETORAS,ABC BRASIL DISTRIBUIDORA DE TÍTULOS E VALORES ...,ABC BRASIL DTVM,CANCELADA,complianceregulatorio@abcbrasil.com.br,31702172,1453000,,SP,SÃO PAULO,ITAIM BIBI,2º ANDAR,"AV. CIDADE JARDIM, 803",2002-12-31,0.00,3514,2002-10-14,2002-10-14
2,10664027000132,CORRETORAS,ABERTURA CCVM LTDA,ABERTURA CCVM LTDA,CANCELADA,,,50010240,BRASIL,PE,RECIFE,,,R DO IMP.D.PEDRO II 239/CJ.102,1989-12-31,5995252.29,329,1990-06-12,1986-07-08
3,44527444000155,CORRETORAS,ABN AMRO CLEARING CORRETORA DE T-TULOS E VALOR...,,EM FUNCIONAMENTO NORMAL,canal.comunicacao@br.abnamro.com,30737417,4551010,,SP,SÃO PAULO,VILA OLIMPIA,"11¦ ANDAR, CJ. 111","RUA FIDÛNCIO RAMOS, N¦ 302, TORRE B",2023-12-31,11122779.75,3794,2022-06-20,2022-06-20
4,33819590000138,CORRETORAS,AÇÃO S.A. CORRETORA DE VALORES E CÂMBIO,ACAO SA CVC,CANCELADA,,5095755,20040040,BRASIL,RJ,RIO DE JANEIRO,CENTRO,,"PRAÇA OLAVO BILAC, 28/ SL. 608",2000-12-31,291862.38,1112,2001-04-11,1968-04-19